.contentsContainer {
	margin-top: 30px;
	position: relative;
	overflow: hidden;
	z-index: 1;
	display: vertical;
	align-items: center;
	justify-content: center;
}

.formContainer {
	margin-top: 50px;
	margin-bottom: 100px;
	padding: 25px 25px 0px 25px;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 25px;
}

.resultBtn {
	text-align: center;
}

.runningMsg {
	margin-top: 100px;
	text-align: center;
}

.input__text {
	margin-top: 10px;
	height: 350px;
	width: 100%;
}

.label {
	width: 100%;
	color: white;
	display: inline-flex;
}
.label .label__left {
	width: 50%;
}
.label .label__right {
	width: 50%;
}
