.contentsContainer {
	margin-top: 30px;
	position: relative;
	overflow: hidden;
	z-index: 1;
	display: vertical;
	align-items: center;
	justify-content: center;
	background-color: beige;
}

.formContainer {
	margin-top: 50px;
	margin-bottom: 100px;
	padding: 25px 25px 55px 25px;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 25px;
}

.input__text {
	margin-top: 10px;
	height: 350px;
	width: 100%;
}

.label {
	width: 100%;
	color: white;
	display: inline-flex;
	justify-content: space-between;
}

.form__footer {
	margin-top: 5px;
	width: 20%;
	display: flex;
	justify-content: space-between;
	float: right;
}

img.loadingResult {
	width: 20px;
	height: 20px;
	animation: rotate_image 1s linear infinite;
	transform-origin: 50% 50%;
}

@keyframes rotate_image {
	100% {
		transform: rotate(360deg);
	}
}